<html lang="en"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

	<!-- Bootstrap CSS -->
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet"/>
	<title>EShop application</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">
	<a class="navbar-brand" href="#">EShop</a>

	<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
			class="navbar-toggler"
			data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"
				sec:authorize="isAuthenticated()"
				th:classappend="${activePage == 'User'} ? active">
				<a class="nav-link" th:href="@{/user}">Users</a>
			</li>
			<li class="nav-item"
				sec:authorize="isAuthenticated()"
				th:classappend="${activePage == 'Category'} ? active">
				<a class="nav-link" th:href="@{/category}">Categories</a>
			</li>
			<li class="nav-item"
				sec:authorize="isAuthenticated()"
				th:classappend="${activePage == 'Product'} ? active">
				<a class="nav-link" th:href="@{/product}">Products</a>
			</li>
		</ul>

		<form class="form-inline my-2 my-lg-0"
			  sec:authorize="isAuthenticated()" th:action="@{/logout}"
			  th:method="post">
			<button class="btn btn-outline-success my-2 my-sm-0">
				Logout <span sec:authentication="principal.username"></span>
			</button>
		</form>
	</div>
</nav>

</html>