<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="message" type="String"*/-->
<!--/*@thymesVar id="description" type="String"*/-->

<head th:replace="fragments/navigation.html :: head">
	<title>not found</title></head>

<body>

<nav th:replace="fragments/navigation.html :: navigation">
</nav>

<div class="container">
	<div class="row py-2">
		<h2 class="text-danger" th:text="${message}">Error message</h2>
	</div>
	<div th:text="${description}">Error description</div>
</div>

<th:block th:replace="fragments/scripts.html :: scripts">
</th:block>

</body>

</html>