<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="product" type="ru.pronichev.dto.ProductDto"*/-->
<!--/*@thymesVar id="category" type="ru.pronichev.dto.CategoryDto"*/-->
<!--/*@thymesVar id="categories" type="java.util.Collection<ru.pronichev.dto.CategoryDto>"*/-->
<!--/*@thymesVar id="brand" type="ru.pronichev.dto.BrandDto"*/-->
<!--/*@thymesVar id="brands" type="java.util.Collection<ru.pronichev.dto.BrandDto>"*/-->

<head th:replace="fragments/navigation.html :: head">
	<title>Add product</title></head>

<body>

<nav th:replace="fragments/navigation.html :: navigation">
</nav>

<div class="container">
	<div class="row py-2">
		<div class="col-12">
			<form method="post" th:action="@{/product}" th:object="${product}">
				<input id="id" th:field="*{id}" type="hidden">
				<div class="form-group">
					<label>Name</label>
					<label for="title"></label><input class="form-control" id="title" placeholder="Enter product name"
													  th:field="*{title}"
													  type="text">
					<p class="text-danger" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>
				</div>
				<div class="form-group">
					<label>Description</label>
					<label for="description"></label><textarea class="form-control" id="description"
															   placeholder="Enter product description"
															   th:field="*{description}"></textarea>
					<p class="text-danger" th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></p>
				</div>
				<div class="form-group">
					<label>Price</label>
					<label for="price"></label><input class="form-control" id="price" placeholder="Enter price"
													  step=".01" th:field="*{price}"
													  type="number">
					<p class="text-danger" th:errors="*{price}" th:if="${#fields.hasErrors('price')}"></p>
				</div>
				<div class="form-group">
					<label for="brands">Brand</label>
					<select class="form-control" id="brands" name="brand" required>
						<option th:each="brand : ${brands}"
								th:selected="${product.brandDto?.id == brand.id}"
								th:text="${brand.title}"
								th:value="${brand.id}"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="categories">Category</label>
					<select class="form-control" id="categories" name="category" required>
						<option th:each="category : ${categories}"
								th:selected="${product.categoryDto?.id == category.id}"
								th:text="${category.title}"
								th:value="${category.id}"></option>
					</select>
				</div>
				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>


<th:block th:replace="fragments/scripts.html :: scripts">
</th:block>

</body>

</html>
