<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="ru.pronichev.dto.UserDto"*/-->
<!--/*@thymesVar id="role" type="ru.pronichev.dto.RoleDto"*/-->
<!--/*@thymesVar id="roles" type="java.util.Collection<ru.pronichev.dto.RoleDto>"*/-->
<!--/*@thymesVar id="data" type="org.springframework.data.domain.Page"*/-->
<!--/*@thymesVar id="num" type="java.lang.Integer"*/-->

<head th:replace="fragments/navigation.html :: head">
	<title>add user</title></head>

<body>

<nav th:replace="fragments/navigation.html :: navigation">
</nav>

<div class="container">
	<div class="row py-2">
		<div class="col-12">
			<form method="post" th:action="@{/user}" th:object="${user}">
				<input id="id" th:field="*{id}" type="hidden">
				<div class="form-group">
					<label>Username</label>
					<label for="name"></label><input class="form-control" id="name" placeholder="Enter username"
													 th:field="*{username}"
													 type="text">
					<p class="text-danger" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
				</div>
				<div class="form-group">
					<label>Password</label>
					<label for="password"></label><input class="form-control" id="password" placeholder="Enter password"
														 th:field="*{password}"
														 type="password">
					<p class="text-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
				</div>
				<div class="form-group">
					<label>Repeat password</label>
					<label for="repeatPassword"></label><input class="form-control" id="repeatPassword"
															   placeholder="Repeat password"
															   th:field="*{repeatPassword}"
															   type="password">
					<p class="text-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
				</div>
				<div class="form-group">
					<label>Age</label>
					<label for="age"></label><input class="form-control" id="age" placeholder="Enter age"
													step="1" th:field="*{age}"
													type="number">
					<p class="text-danger" th:errors="*{username}" th:if="${#fields.hasErrors('age')}"></p>
				</div>
				<div class="form-group">
					<label for="roles">Roles</label>
					<select class="form-control" id="roles" multiple required th:field="*{roles}">
						<option th:each="role : ${roles}"
								th:selected="${user.roles?.contains(role)}"
								th:text="${role.name}"
								th:value="${role.id} + ';' + ${role.name}">
						</option>
					</select>
				</div>
				<button class="btn btn-primary" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>


<th:block th:replace="fragments/scripts.html :: scripts">
</th:block>

</body>

</html>